:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'YoungSerif';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/static/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: var(--stone-100);
  width: 375px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  letter-spacing: 0;
}

div.app {
  background-color: var(--white);
}

header.img-container, img {
  width: 100%;
}

main {
  padding: 40px 32px; 
}

section.section-mt-mb {
  margin: 32px 0;
}

section.section-mt {
  margin: 32px 0 0 0;
}

hr {
  border: 1px var(--stone-150) solid;
}

h1.title-textPreset1 {
  margin-bottom: 24px;
  line-height: 100%;
  font-family: 'YoungSerif', serif; 
  font-size: 36px;
  color: var(--stone-900);
}

div.description {
  width: 100%;
  line-height: 150%;
  font-size: 16px;
  color: var(--stone-600);
}

div.preparation-time {
  margin-top: 32px;
  padding: 24px;
  border-radius: 12px;
  background: var(--rose-50);
  color: var(--stone-600);
}

div.preparation-time .title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
  color: var(--rose-800);
}

h2.title-textPreset2 {
  margin-bottom: 24px;
  line-height: 100%;
  font-family: 'YoungSerif', serif; 
  font-size: 28px;
  color: var(--brown-800);
}

.textPreset4Bold {
  line-height: 150%;
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

ul.description, ol.description {
  padding-left: 8px;
  list-style-position: inside; /*padding才有*/
  color: var(--stone-600);
}

ol {
  counter-reset: li;
}

ol li {
  position: relative;
  padding-left: 32px;
  counter-increment: li;
  list-style: none;  
}

ol li::before {
  position: absolute;
  left: 0;
  top: 0%;
  display: inline-block;
  border-radius: 50%;
  content: counter(li) ".";
  line-height: 150%;
  font-weight: bold;
  color: var(--brown-800); 
}

li {
  padding-left: 28px;
  line-height: 150%;
  font-size: 16px;
  color: var(--stone-600);
}

ul li {
  position: relative;
  list-style: none;
}

ul li::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: var(--brown-800);
  border-radius: 50%;
  content: "";
  line-height: 0;
  font-size: 0; 
}

table {
  margin-top: 12px;
  width: 100%;
  height: 168px;
}

table td {
  padding: 12px 32px; /* 不是 tr */
  height: 24px;
  border-bottom: 1px var(--stone-150) solid;
}
table td.item-value{
  color: var(--brown-800);
}

table .table-bottom {
  padding: 12px 32px 0 32px;
  border: none;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }