:root {
  font-family: "Red Hat Display", serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color: var(--desaturated-blue);
  /* background-color: var(--pale-blue); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --pale-blue: #E0E8FF;
  --very-pale-blue: #F5F7FF;
  --bright-blue: #382AE1;
  --violet-blue: #766CF1;
  --desaturated-blue: #717FA6;
  --dark-blue: #1F2E55;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  min-width: 375px;
  min-height: 100vh;
  font-family: "Red Hat Display", serif;
  background-image: url('src/assets/images/pattern-background-mobile.svg');
  background-repeat: no-repeat; /* 避免圖片重複 */
  background-size: cover; /* 確保圖片覆蓋整個背景 */
  background-position: center; /* 讓圖片居中顯示 */
  height: 100vh; /* 背景高度覆蓋整個視窗 */
  @media screen and (min-width: 376px) {
    background-image: url('src/assets/images/pattern-background-desktop.svg');
  }
}

h1 {
  color: var(--dark-blue);
  font-weight: 900;
}

button {
  border-radius: 11px;
  border: 0px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bright-blue);
  cursor: pointer;
  color: var(--white);
}
button:hover {
  background-color: #766CF1;
}