* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --grey-900: #141414;
  --grey-800: #1F1F1F;
  --grey-700: #333333;
  --green: #C4F82A;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 150%; 
  letter-spacing: 0;
  font-weight: 400;
  color: var(--white);
  background-color: var(--grey-900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('src/assets/fonts/static/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('src/assets/fonts/static/Inter-Regular.ttf') format('truetype');
}

h1 {
  font-family: 'Inter-Bold';
  font-size: 24px;
}

h2 {
  font-family: 'Inter-Regular';
  font-size: 14px;
}

a {
  font-family: 'Inter-Bold';
  color: var(--white);
  text-decoration: inherit;
}

a:hover {
  color: var(--grey-700);
}

body {
  margin:  0 auto; /* 水平居中 */
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 375px;
  max-width: 1440px; /* 適用於大屏限制 */
  width: 100%; /* 確保在最大寬度下仍填滿視窗 */
  min-height: 100vh;
  height: 100vh;
}
